@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
<!DOCTYPE html>
<html>
<head>
    <title>Rix : Resource Interactive eXplorer </title>
    <link rel="stylesheet" type="text/css" href="~/Content/home.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login.css">
    <link rel="stylesheet" type="text/css" href="~/Content/porfile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link rel="stylesheet" type="text/css" href="~/Content/signup.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="site-center">
            <h1 class="header-title">                
                @Html.ActionLink("RiX", "Index", "Home", new { area = "" }, null)
            </h1>
            <ul class="menu-wrapper">
                <li class="menu-item menu-item--active">                   
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                </li>
                <li class="menu-item">                    
                    @Html.ActionLink("Search", "Search", "Home", new { area = "" }, null)
                </li>
                <li class="menu-item">                    
                    @Html.ActionLink("Log In", "Login", "Home", new { area = "" }, null)
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="site-center">
            <ul class="footer-column">
                <li class="column-item column-item--hero">SITE</li>
                <li class="column-item">
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        SEARCH
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        LOG IN
                    </a>
                </li>
            </ul>
            <ul class="footer-column">
                <li class="column-item column-item--hero">ABOUT</li>
                <li class="column-item">
                    <a href="#">
                        API
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        THE TEAM
                    </a>
                </li>
                <li class="column-item">
                    <a href="#">
                        WHERE WE PULL FROM
                    </a>
                </li>
            </ul>
            <ul class="footer-column">
                <li class="column-item column-item--hero">SOCIAL</li>
                <li class="column-item">
                    <a href="#">FACEBOOK</a>
                </li>
                <li class="column-item">
                    <a href="#">TWITTER</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>